img {
  width: 100%;
}

.landing {
  /* position: relative; */
  font-family: "Raleway", sans-serif;
  background: url("https://i.imgur.com/uNb956x.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.supps {
  font-family: "Russo One", sans-serif;
}
